body {
    font-family: Arial;
    background-color: #f5f5f5;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
}

li {
    margin: 8px 0;
}
